<a href="https://colab.research.google.com/github/Chaithra-Sam/Data-Handling-And-Visualization/blob/main/PANDA_SERIES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
a=[1,7.2,2]
b=pd.Series(a)
print(b)

0    1.0
1    7.2
2    2.0
dtype: float64

In [ ]:
print(b[0])

1.0

In [ ]:
a=[1,7,2]
b=pd.Series(a,index=["x","y","z"])
print(b)

x    1
y    7
z    2
dtype: int64

In [ ]:
print(b["y"])

7

In [ ]:
a={"brand":"ford","model":"mustang","year":1964}
print(a)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [ ]:
s1=pd.Series([-3,-1,1,3,5,'gaurav,7.3'])

s1[:2]
print(s1)
print(s1[[2,1,0]])

0            -3
1            -1
2             1
3             3
4             5
5    gaurav,7.3
dtype: object
2     1
1    -1
0    -3
dtype: object